<!DOCTYPE html>
<html>
<head>
  <title>Rc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/messages' %>
  
  <%= yield %>

  <%= javascript_include_tag controller_name if controller_has_js_asset? %>
</body>
</html>
